  <footer class="bg-dark py-4">
    <div class="container">
      <p class="m-0 text-center text-secondary">Copyright &copy; 2021 <b>Blog App</b></p>
      <hr>
      <p class="m-0 text-center text-secondary small">Made with <span class="text-danger">&hearts;</span> by Avinash Murmu</p>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="/js/jquery-slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <!-- Summernote JS  -->
  <script src="/summernote/summernote-bs4.js"></script>
  <!-- Custom JS  -->
  <script src="/js/main.js"></script>


</body>
</html>