    <!-- Header -->
    <header>
      <div class="social-icons bg-info">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 border-bottom border-lighter">
              <ul class="nav justify-content-lg-start justify-content-center small">
                <li class="nav-item border-left border-right border-lighter">
                  <a
                    href="https://github.com/avionics18/blog-app"
                    target="_blank"
                    class="nav-link text-light"
                  >
                    <i class="fab fa-github"></i> Project Link
                  </a>
                </li>
                <li class="nav-item border-right border-lighter">
                  <a href="javascript:void(0);" class="nav-link text-light">
                    <i class="fab fa-facebook-messenger"></i> Contact Me
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 border-bottom border-lighter">
              <ul class="nav justify-content-lg-end justify-content-center small">
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link text-light">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link text-light">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link text-light">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link text-light">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- social icons  -->
      <div class="logo">
        <div class="container text-center py-4">
          <!-- <img src="/imgs/logo.png" width="300" alt="Blog App Logo" /> -->
          <h1 class="m-0 font-weight-bold text-uppercase">
            <i class="fab fa-bootstrap mr-2"></i>Blog App
          </h1>
        </div>
      </div>
      <!-- logo  -->
      <%- include("navbar") %> 
    </header>