<%- include("partials/head") %>

<div class="hero ff-serif">
  <div class="container-fluid">
    <div class="row vh-100 justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h1 class="display-sm-1 display-3 text-info"><span class="text-white font-weight-bold">Blog</span> App</h1>
        <p class="text-lighter lead" style="color: #999;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <br>
        <a href="/blog" class="btn btn-info btn-lg rounded-0">View Blog<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
